body {
  margin: 0;
}

div {
  background-color: #D9D7F1;
}

h1 {
  margin-top: 0;
}

.red {
  height: 200px;
  width: 200px;
  background-color: red;
}

.blue {
  height: 200px;
  width: 200px;
  background-color: blue;
}
